.nav-wrapper {
    background: #171717;
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 30;
    backdrop-filter: blur(50px);
    z-index: 500;
}

.nav-content {
    max-width: 1350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    margin: 0 auto;
}

.logo {
    width: 10rem;
    height: auto;
}

.nav-content ul {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    list-style: none;
    padding: 1.2rem;
}

.nav-content li {
    margin: 0 0.8rem;
}

.menu-item {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 400;
    position: relative;
    cursor: pointer;
}

.menu-item::before {
    content: ' ';
    width: 2rem;
    height: 0.2rem;
    background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
    border-radius: 0.5rem;
    position: absolute;
    bottom: -0.6rem;
    opacity: 0;
    transform: translateX(-1.5rem);
    transition: all 0.3s ease;
}

.menu-item:hover::before {
    width: 100%;
    transform: translateX(0);
    opacity: 1;
}

.contact-btn {
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: linear-gradient(90deg, #6b51d1 0%, #4e2dc4 100%);
    padding: 0.6rem 2rem;
    border: none;
    outline: 1.5px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.contact-btn:hover {
    background: linear-gradient(#4e2dc4 0%, #6b51d1 100%);
    outline: 1.5px solid #7f69d7;
}

.menu-btn {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.4rem;
    line-height: 0;
    cursor: pointer;
    transition: all 0.4s ease;
    display: none;
}

.menu-btn:hover {
    border: 1px solid #4e4e4e;
}


@media (max-width: 800px) {
    .menu-btn {
        display: block;
    }

    .contact-btn {
        display: none;
    }

    .nav-content ul {
        display: none;
    }
}

@media (max-width: 940px) {
    .nav-content ul {
        gap: 0.15rem;
        padding: 1rem;
    }
    .nav-content li {
        margin: 0 0.4rem;
    }
    .menu-item {
        font-size: 0.7rems;
    }
    .contact-btn {
        padding: 0.6rem 1rem;
    }
}

@media (max-width: 1060px) {
    .nav-content ul {
        gap: 0.2rem;
        padding: 1rem;
    }
    .nav-content li {
        margin: 0 0.5rem;
    }
}

@media (max-width: 1325px) {
    .nav-wrapper {
        padding: 0 1rem;
    }
}